body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px auto;
    padding: 0 10px; /* Add some padding for mobile */
}

h1 {
    margin-top: 20px;
}

form {
    margin: 20px;
}

div {
    margin: 10px 0;
}

input[type="text"] {
    padding: 5px;
    margin-top: 5px;
    width: 80%; /* Make input wider for better mobile display */
    box-sizing: border-box;
}

.circle-button {
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white; /* White text */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 70px; /* Width of the button */
    height: 40px; /* Height of the button */
    border-radius: 30px; /* Makes the button circular */
}

.circle-button:hover {
    background-color: #45a049; /* Darker green when hovered */
}

.result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.result-image {
    max-width: 80%; /* Change image size to 80% of the full screen */
    height: auto;
}

.back-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.back-link:hover {
    background-color: #45a049;
}

/* Media queries for responsive design */

/* Styles for phones */
@media (max-width: 600px) {
    body {
        margin: 20px auto;
        padding: 0 10px;
    }

    input[type="text"] {
        width: 90%;
    }

    .circle-button {
        width: 70px;
        height: 40px;
    }

    .result-image {
        max-width: 90%; /* Ensure image size is more responsive */
    }
}

/* Styles for tablets */
@media (min-width: 601px) and (max-width: 1024px) {
    body {
        margin: 50px auto;
        padding: 0 20px;
    }

    input[type="text"] {
        width: 80%;
    }

    .circle-button {
        width: 100px;
        height: 50px;
    }
}

/* Styles for desktops and larger devices */
@media (min-width: 1025px) {
    body {
        margin: 100px auto;
        padding: 0 40px;
    }

    input[type="text"] {
        width: 40%;
    }

    .circle-button {
        width: 120px;
        height: 60px;
    }
}
